In [97]:
names=["susan",'tom','edward']
mood=["happy","sad"]
for i in names:
    for ii in mood:
        print(i +" is "+ ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [93]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident','beautiful']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
I am beautiful
You are happy
You are confident
You are beautiful

In [91]:
x=[11,2,34,55,77,44,3,8,10]
count1=0
count2=0
for i in x:
    if i% 2==0:
        count1 +=1
    else:
        count2 +=1
print("evens count:",count1)
print("odds count:",count2)

evens count: 5
odds count: 4

In [90]:
evens=[]
odds=[]

for i in range(10):
    if i%2==0:
        evens.append(i)
    else:
        odds.append(i)
print(evens)
print(odds)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [89]:
text=['one','two','three','four','five']
numbers=[1,2,3,4,5]
animals=["cat", "dog",'mouse','cow','sheep' ]

for x, y,z in zip(text, numbers,animals):
    print(x,":",y,":",z)
list(zip(text, numbers,animals))
print(*)

one : 1 : cat
two : 2 : dog
three : 3 : mouse
four : 4 : cow
five : 5 : sheep

[('one', 1, 'cat'),
 ('two', 2, 'dog'),
 ('three', 3, 'mouse'),
 ('four', 4, 'cow'),
 ('five', 5, 'sheep')]

In [85]:
text=['one','two','three','four','five']
numbers=[1,2,3,4,5]

for x, y in zip(text, numbers):
    print(x,":",y)
list(zip(text, numbers))

one : 1
two : 2
three : 3
four : 4
five : 5

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [86]:
x=range(10)
for i in x:
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [81]:
print(* "Mehmet")

M e h m e t

In [80]:
print(*range(5))

0 1 2 3 4

print(* range(10,1, -1)

In [79]:
a= int(input("Enter a number between 1 to 10"))

for i in range(11):
    print(f'{a}x{i} ={a*i} ')

TypeError: 'str' object is not callable

In [65]:
test=[(1,2),(3,4),(5,6)]
i, j= test[1]

In [58]:
user = {
    "name" : "Daniel",
    "suname" : "Smith",
    "age" : 35
}

print(user.items())

dict_items([('name', 'Daniel'), ('suname', 'Smith'), ('age', 35)])

In [54]:
word="Clarusway"
counter=0
for i in word:
    counter+=1
    if counter < len(word):
       i+="-"
    print(i, end="")

C-l-a-r-u-s-w-a-y

In [62]:
user = {
    "name" : "Daniel",
    "surname" : "Smith",
    "age" : 35
}
for key, value in user.items():
    print(key,":",value, end=" ")

name : Daniel surname : Smith age : 35

In [10]:

a = input("Please answer in Yes or No! Are you a cigarette addict older than 75 years old?:")  # can be assigned only True/False
b = input("Please answer in Yes or No! Do you have a severe chronic disease?:") # can be assigned only True/False
c = input("Please answer in Yes or No!Is your immune system too weak?:")  # can be assigned only True/False

if a=="Yes":
    age=True
else:
    age=False
if b=="Yes":
    chronic=True
else:
    chronic=False
if c=="Yes":
    immune=True
else:
    immune=False
    if age or chronic or immune:
        print("You are in risky group")
    else:
        print("You are not in risky group")

Please answer in Yes or No! Are you a cigarette addict older than 75 years old?:no
Please answer in Yes or No! Do you have a severe chronic disease?:no
Please answer in Yes or No!Is your immune system too weak?:no
You are not in risky group

In [13]:
who = ['I am ', 'You are ', 'We are']
mood = ['happy', 'confident','beuatiful']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
I am beuatiful
You are happy
You are confident
You are beuatiful
We arehappy
We areconfident
We arebeuatiful

In [15]:
times = int(input("How many times should I say 'I love you':"))

for i in range(1, times):
    print('I love you')

How many times should I say 'I love you':5
I love you
I love you
I love you
I love you

In [71]:
a= int(input('enter a number between 1-10:'))

for i in range(11):
    print('{}x{} = '.format(a, i), a*i)

TypeError: 'str' object is not callable

In [24]:
a=input('Please enter a sentence:')
word_a= a.split()
i=0
longest=0

while i < len(word_a):
    if len(word_a[i])>longest:
        longest=len(word_a[i])
    i +=1
    
print(f'The length of the longest word is {longest}' )

Please enter a sentence:You are my hunny bunny and my darling
The length of the longest word is 7

In [25]:
for i in [1, 2, 3, 4, 5] :
    print(i)

1
2
3
4
5

In [28]:
for i in range(11):
    print(i*(i-1))

0
0
2
6
12
20
30
42
56
72
90

In [29]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for a in seasons :
    print(a)

spring
summer
autumn
winter